/* Home Styling */

@media screen and (min-width: 2500px) {
    .home {
        margin-top: 6% !important;
    }
}

.home {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    color: black;
    background-color: white;
    flex-wrap: wrap;
    margin-top: 75px;
}

.homeContainer {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.homeGrid {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.columns {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

.columns h1 {
    width: 100%;
    text-align: center;
}

@media screen and (max-width: 800px) {
    .home {
        margin-top: 10px;
    }

    .homeContainer {
        margin-top: 5%;
    }

    .homeGrid {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .columns {
        padding-top: 0%;
    }

    #rightColumn {
        margin-top: 30%;
    }
}




/* Services Styling */

.service {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.serviceContainer {
    width: 100%;
}

.serviceContainer > * {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.servicePrice {
    color: green;
    text-align: end;
}




/* Hours Styling */

.hourTable {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

@media screen and (max-width: 800px) {
    .hourTable {
        text-align: center;
        font-size: small;
        height: 0%;
    }

    .column{
        display: grid;
        grid-template-columns: 1fr;
    }
}




/* Locations Styling */

.locations {
    width: 100%;
    height: 1200px;
    margin-top: 20%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-self: flex-end;
}

.locationsContainer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
    align-items: flex-end;
}

.locationsContainer > * {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
    align-items: flex-end;
}

#locations {
    width: 20%;
    font-size: 3rem;
    text-align: center;
    background-color: none;
}

select {
    background-color: white !important;
    border: none;
    color: black !important;
    font-family: 'Merriweather' !important;
}

@media screen and (max-width: 800px) {
    .locations {
        align-content: flex-start;
        margin-top: 25%;
        margin-bottom: 0%;
        height: auto;
    }

    select {
        width: 24px !important;
        margin-left: 35px;
    }
}




/* Map Styling */

.map {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
}

.iFrame {
    width: 100%;
    height: 1000px;
    align-self: flex-end;
}

@media screen and (max-width: 800px) {
    .iFrame {
        width: 100%;
        height: 450px;
    }
}