.footer {
    width: 100%;
    height: 20lvh;
    display: grid;
    grid-template-columns: 1fr;
    background-color: black;
}

.socialsContainer > a {
    color: rgba(255, 255, 255, 0.87) !important;
}

.foot > * > p {
    width: 80%;
}

.footer > * > h2 {
    width: 100%;
}

.socials {
    width: 100%;
    margin-top: 2%;
}

.foot {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    text-align: center;
}

.socialsContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    column-gap: 5%;
    width: 80%;
}

h5 {
    height: 15px;
    color: white;
}

#ab {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

@media screen and (max-width: 800px) {

    .socials {
        display: flex;
        justify-content: center;
        margin-top: 7%;
    }

    .footer {
        height: 30lvh;
    }

    .socialsContainer {
        grid-template-columns: 1fr 1fr 1fr;
        row-gap: 20%;
        width: 80%;
    }
}
