.App {
  width: 100lvw;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
}

.display {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 800px) {
  .App {
    height: auto;
    overflow-x: hidden;
    overflow-y: visible
  }
  
  .display {
    height: auto;
  }
}
